/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS variables */
:root {
    --primary-font: "Courier Prime"; 
    --secondary-font: 'Montserrat'; 
    --primary-color:#0e1b42; /* dark blue */
    --secondary-color: #264066; /* lighter blue */
    --tertiary-color: white; /* white */
    --highlight-color: #ffc04d; /* yellow */
    --highlight-color-light: #fff59a; /* lighter yellow */
}

/* Global styles */
body {
    background-color: var(--tertiary-color);
    padding-top: 57.15px; 
} 

h1, h2 {
    font-family: var(--primary-font);
    color: var(--primary-color);
    text-transform: uppercase; 
}

.sub-heading-color {
    color: var(--highlight-color);
}

p {
    font-family: var(--secondary-font);
    color: var(--secondary-color)
}

.section {
    padding-top: 4rem;
}

/* Navbar styling */
#navbar {
    background-color: var(--primary-color);
} 

/* Footer styling */
#contact {
    color: var(--highlight-color-light);
    background-color: var(--secondary-color);
}

#contact p {
    color: var(--highlight-color-light)
}   
#contact li {
    list-style-type: none;
}

.social-networks {
    font-size: 2rem;
    padding: 2% 0;
    display: flex; 
    justify-content: space-evenly;
    list-style-type: none;
}

.social-networks a {
    color: var(--highlight-color-light);
}


