/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS variables */
:root {
    --primary-font: "Courier Prime"; 
    --secondary-font: 'Montserrat'; 
    --primary-color:#0e1b42; /* blue zodiac */
    --secondary-color: #2f4462; /* rhino */
    --highlight-color: #fef6d1; /* gray-nickel */
    --highlight-color-light: #ffffff; /* white */
    /*
    --gray-nickel: #c7c7c2;
    --rhino: #2f4462;
    --bermuda-gray: #7288a1;
    --nepal: #99adc1;
    --nepal: #8ba0bd;
    --jumbo: #706d75;
    --shuttle-gray: #58657a;
    --waikawa-gray: #567196;
    --paco: #3d1310;
    --blue-zodiac: #0e1b42;
    */
}

/* Global styles */
body {
    background-color: var(--highlight-color-light);
    padding-top: 57.15px; 
} 

h1, h2 {
    font-family: var(--primary-font);
    color: var(--primary-color);
    text-transform: uppercase; 
}

.sub-heading-color {
    color: var(--highlight-color);
}

p {
    font-family: var(--secondary-font);
    color: var(--secondary-color)
}

.section {
    padding-top: 4rem;
}

/* Navbar styling */
#navbar {
    background-color: var(--primary-color);
} 

/* Footer styling */
#contact {
    color: var(--highlight-color-light);
    background-color: var(--secondary-color);
}

#contact p {
    color: var(--highlight-color-light)
}
#contact li {
    list-style-type: none;
}

.social-networks {
    font-size: 2rem;
    padding: 2% 0;
    display: flex; 
    justify-content: space-evenly;
    list-style-type: none;
}

.social-networks i {
    color: var(--highlight-color-light);
}
